@use "../layout/_gridsystem" as *
.accordion
    border-bottom: 1px solid #8F8F8F
    margin-top: 2rem
    margin-bottom: 3rem
    padding-bottom: 1rem
    &:nth-last-child(1)
        border-bottom: none

    &__title
        @include flex($justify:flex-start)
        gap: 8rem
        font-size: 1.6rem
        margin-bottom: 1rem
        cursor: pointer
        .arrow-icon
            transition: .67s ease-in-out
            &.rotate
                transform: rotate(-180deg)
    &__description
        font-size: 1.6rem
        line-height: 1.3
        opacity: 0
        transition: .67s ease-in-out
        overflow: hidden
        max-height: 0
        &.show
            max-height: 1000px
            opacity: 1
