@use "../helper/_mixin" as *
@use  "../layout/_gridsystem" as *
.card-container
    width: 100%
    max-width: 500px
    background: #ffff
    height: auto
    // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9)
    border: 1px solid #ccc
    padding: 20px 20px 0px 20px
    border-radius: 6px
    margin-top: 25px
    transition: box-shadow .2s
    @media (max-width:667px)
        margin: 0 auto
        &:not(:last-child)
            margin-bottom: 2rem
    &:hover
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08)

.cards
    @media (max-width:667px)
        margin-bottom: 2rem
    &__content
        position: relative
        &:hover
            .cards__content--modify
                top: 0
                height: 99%
                cursor: pointer
        &--image
            width: 100%
            &:hover
                .cards__content--modify
                    top: 0
                    height: 99%
                    cursor: pointer
            &:hover
                cursor: pointer
                &--modify
                    top: 0
                    background-color: red
                    cursor: pointer
            img
                width: 100%

        &--modify
            position: absolute
            top: calc( 100% - 44px )
            left: 0
            right: 0
            background-color: rgba(#4285f4, 0.5)
            color: #fff
            display: flex
            justify-content: center
            align-items: center
            font-size: 1.6rem
            font-weight: bolder
            gap: 20px
            overflow: hidden
            transition: .45s all ease-in-out
            height: 40px

    &__description
        &--title
            margin: 2rem 0rem
            border-bottom: 1px solid #8F8F8F
            padding-bottom: 1.4rem
            h3
                font-size: 1.9rem
                span
                    font-weight: 500
                    color: #8F8F8F
                    line-height: 1.5
                    font-size: 1.5rem

        p
            font-size: 1.5rem
            line-height: 1.5
            letter-spacing: 0.3px
        &--priceline
            @include flex($justify:space-between)
            margin-top: 15px
            margin-bottom: 10px
            span
                display: block
                padding: 1.2rem 3rem
                background: #F2F2F2
                border-radius: 5rem
                font-size: 1.5rem
                font-weight: bolder
                color: #000
                letter-spacing: 1.1px
