.select-container
    width: 100%
    position: relative
    font-size: 1.2rem
    margin: 20px 0px
    @media (max-width:667px)
        margin: 4px 0
        &:first-child
            margin-top: 2rem

    .icon
        position: absolute
        bottom: 18px
        left: 12px
        color: #6a6c72

    select
        padding: 17px 32px 17px
        width: 100%
        display: inline-block
        transition: .4s
        color: #6a6c72
        border: none
        border-bottom: 1px solid #ccc
        &:focus
            outline: none
        option
            background-color: #cccc
