@use "../layout/_gridsystem" as *

.whychoose
    background-color: #fff
.booking-section
    margin-top: 6.6rem
    padding: 0px 0px 2rem 0px
    .booking-title-section
        text-transform: uppercase
        text-align: center
        font-size: 3rem
        margin-bottom: 3rem
        span
            font-size: 2.2rem
        h2
            text-transform: capitalize
            letter-spacing: 1.3px
.aboout
    background-color: #fff
.card-components
    width: 100%
    display: grid
    grid-template-columns: repeat(3,1fr)
    column-gap: 25px
.about-section
    padding: 25px 0px
    margin-top: 6rem
    h2
        font-size: 4rem
        text-transform: capitalize
        text-align: center
        margin: 2rem 0 3rem 0
        letter-spacing: 1.3px

    p
        font-size: 1.5rem
        line-height: 1.5
        letter-spacing: 0.3px
        max-width: 900px
        margin: 0 auto
        text-align: center
        margin-bottom: 2rem
.booking
    background-color: #212529

.client-section
    margin-top: 3rem
    margin-bottom: 4rem
    padding: 25px 0px
    .client-section__title
        text-transform: uppercase
        text-align: center
        font-size: 3rem
        margin-bottom: 3rem
        span
            font-size: 2.2rem
        h2
            text-transform: capitalize
            letter-spacing: 1.3px

.review-card
    &:hover
        .review-cards-container
            transform: scale(1.02)translateY(-25px)
        .review-cards-container:not(:hover)
            transform: scale(0.99)translateY(0)
.swiper-button-next:after,.swiper-button-prev:after

    font-size: 3rem
.chat-section
    padding: 6rem 0
    color: #ccc

    &__detail
        &--title
            text-transform: uppercase
            text-align: center
            font-size: 3rem
            margin-bottom: 5rem
            span
                font-size: 2.2rem
        p
            font-size: 1.5rem
            line-height: 2
            letter-spacing: 0.6px
            max-width: 900px
            margin: 0 auto
            text-align: center
            margin-bottom: 2rem
            color: #ccc

    &__call
        @include flex($justify:space-evenly)
        max-width: 500px
        margin: auto
        &--button
            width: 50%
            max-width: 400px
        &--number
            font-size: 1.5rem
            margin: 25px 0
.gallery
    h1
        font-size: 4rem
        text-transform: capitalize
        text-align: center
        margin: 3rem 0 1.6rem 0
        letter-spacing: 1.3px
        text-align: center
        padding-top: 20px
.gallery-section
    display: flex
    flex-wrap: wrap
    padding: 4rem 0rem 2.4rem 0rem
    &:hover
        img
            transform: scale(1.06)
        img:not(:hover)
            transform: scale(0.96)
    img
        flex: 1
        width: 100%
        min-width: 25%
        padding: .4rem .4rem
        height: 300px
        transition: all 0.45s ease-in-out
        object-fit: cover

    @media (max-width:667px)
        img
            max-width: 50%
    @media  (max-width:500px)
        img
            max-width: 100%
